<div class="row div">
  <div class="capcalera">Crea el teu robot</div>
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="age">Edat</label>
        <input type="text" class="form-control" id="age" [(ngModel)]="age" name="age" required>
      </div>
      <div class="form-group">
        <label for="profession">Professió</label>
        <input type="text" class="form-control" id="profession" [(ngModel)]="profession" name="profession" required>
      </div>
      <div class="form-group">
        <label for="description">Descripció</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-info">Reset</button>
      <button type="button" (click)="goBack()">Back</button>
    </form>

    <div *ngIf="modelRobot" class="div">
      <div>Id: {{modelRobot.id}}</div>
      <div>Nom: {{modelRobot.name}}</div>
      <div>Edat: {{modelRobot.age}}</div>
      <div>Professió: {{modelRobot.profession}}</div>
      <div>Descripció: {{modelRobot.description}}</div>
      <div class="btn-success">Success</div>
    </div>

  </div>
</div>
