<div class="row div">
    <div class="capcalera">Entrena un tema</div>
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Tema (el tema per defecte es el "GENERIC")</label>
          <input type="text" class="form-control" id="theme" [(ngModel)]="theme" name="theme" required>
        </div>
        <div class="form-group">
          <label for="name">Paraula</label>
          <input type="text" class="form-control" id="word" [(ngModel)]="word" name="word" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-info">Reset</button>
        <button type="button" (click)="goBack()">Back</button>
      </form>
  
      <div *ngIf="result" class="div">
        <div>Resultat: {{result}}</div>
        <div class="btn-success">Success</div>
      </div>
  
    </div>
  </div>