<div class="row div">
  <div class="col-xs-12">
    <div class="capcalera marginBottom">Login</div>
    <div class="row" *ngIf="!loaded">
        <div class="col-xs-12">

            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['nick'].valid}">
                    <label>Usuari:</label>
                    <input class="form-control" type="text" placeholder="Indica el nick, correu electrònic o telèfon" [formControl]="complexForm.controls['nick']">
                    <div class="alert alert-danger" *ngIf="!complexForm.controls['nick'].valid">Camp <b>Usuari</b> requerit.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid}">
                    <label>Contrasenya:</label>
                    <input class="form-control" type="password" placeholder="La teva contrasenya" [formControl]="complexForm.controls['password']">
                    <div class="alert alert-danger" *ngIf="!complexForm.controls['password'].valid">Camp <b>Contrasenya</b> requerit, de longitud entre 5 i 10 caràcters, amb un número mínim, amb una lletra minúscula mínim i una lletra majúscula mínim.</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Entrar</button>
                    <a href="#/register" class="btn btn-link">Registrar</a>
                </div>
            </form>

        </div>
    </div>
    <div class="row" *ngIf="loaded">
        <div class="col-xs-12">
            <div>{{modelUser.id}}</div>
            <div>{{modelUser.nick}}</div>
        </div>

        <div class="col-xs-12">
            <app-main></app-main>
        </div>
    </div>
