<div class="row div">
  <div class="col-xs-12">
    <div class="capcalera marginBottom">Login</div>
    <div class="row" *ngIf="!loaded">
        <div class="col-xs-12">
            <form name="form" (ngSubmit)="entrar()" role="form">
                <div class="form-group">
                    <label for="nick">Usuari</label>
                    <input type="text" name="nick" id="nick" class="form-control" [(ngModel)]="nick" required placeholder="Usuari, correu electrònic o número de telèfon" ng-class="{'has-error': form.nick.$error.required}" />
                    <span ng-show="form.nick.$dirty && form.nick.$error.required" class="help-block">Usuari: camp requerit</span>
                </div>
                <div class="form-group">
                    <label for="password">Contrasenya</label>
                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required placeholder="La teva contrasenya" ng-class="{'has-error': form.password.$error.required}" />
                    <span (ngShow)="form.password.$dirty && form.password.$error.required" class="help-block">Contrasenya: camp requerit</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Entrar</button>
                    <a href="#/register" class="btn btn-link">Registrar</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="loaded">
        <div class="col-xs-12">
            <div>{{modelUser.id}}</div>
            <div>{{modelUser.nick}}</div>
        </div>

        <div class="col-xs-12">
            <app-main></app-main>
        </div>
    </div>
