<div (onmousemove)="mousemove($event)">
  <div class="row">
    <div class="col-xs-12">
      <div align="center" class="row">
        <div class="col-xs-3">

        </div>

        <div class="col-xs-1">
          <img src="assets/orella2.jpg"/>
        </div>

        <div class="div col-xs-4" ng-mousemove="moureUlls()">
          <p>Hola!</p>
          <p>Sóc el que tu vulguis que sigui!</p>
          <p>Estic fet amb la nova tecnologia d'aprenentatge amb <b>inteligència artificial</b> <i>howdyl versió 1.0.0</i>.</p>
          <nav>
            <a routerLink="/robotCreation" routerLinkActive="active">Crea'm i invita'm a la teva vida!</a>
          </nav>

        </div>

        <div class="col-xs-1">
          <img src="assets/orella.jpg"/>
        </div>

        <div class="col-xs-3">

        </div>

      </div>

    </div>
  </div>
</div>