<div (onmousemove)="mousemove($event)">
  <div class="row">
    <div class="col-xs-12">
      <div align="center" class="row">

        <div class="div col-xs-12">
          <p>Hola!</p>
          <p><b>Sóc el que tu vulguis que sigui!</b></p>
          <p>Estic fet amb la nova tecnologia d'aprenentatge amb <b>inteligència artificial</b> <i>howdyl versió 2.4.0-SNAPSHOT</i>.</p>
          <nav>
            <a routerLink="/robotCreation" routerLinkActive="active">Crea'm i invita'm a la teva vida!</a>
          </nav>
        </div>
        
      </div>
    </div>
  </div>
</div>