<div>Aquesta és la llista de robots</div>

<div *ngFor="let robot of modelRobots" class="mouseCursor div">
  <div class="capcalera" (click)="gotoCreateUnity(robot)"><b>Id:</b> {{robot.id}}</div>
  <div><b>Nom:</b> {{robot.name}}</div>
  <div><b>Edat:</b> {{robot.age}}</div>
  <div><b>Professió:</b> {{robot.profession}}</div>
  <div><b>Descripció:</b> {{robot.description}}</div>
  <button (click)="removeRobot(robot)">esborrar</button>
</div>

<div *ngIf="modelRobot" class="mouseCursor div">
  <div class="capcalera"><b>Id:</b> {{modelRobot.id}}</div>
  <div><b>Nom:</b> {{modelRobot.name}}</div>
  <div><b>Edat:</b> {{modelRobot.age}}</div>
  <div><b>Professió:</b> {{modelRobot.profession}}</div>
  <div><b>Descripció:</b> {{modelRobot.description}}</div>
</div>

<button class="btn btn-alert" (click)="goBack()">Back</button>
