<div>Aquesta és la llista de robots</div>

<div *ngFor="let robot of modelRobots" class="div">
  <div class="capcalera" (click)="gotoCreateUnity(robot)"><b>Id:</b> {{robot.id}}</div>
  <div><b>Nom:</b> {{robot.name}}</div>
  <div><b>Edat:</b> {{robot.age}}</div>
  <div><b>Professió:</b> {{robot.profession}}</div>
  <div><b>Descripció:</b> {{robot.description}}</div>
  <div class="div">
    <button (click)="confirmRemoveRobot(robot)">esborrar</button>
    <div *ngIf="robot.confirmRobot" class="div">
      <div>Desitja esborrar el robot <b>{{robot.name}}</b>?</div>
      <button (click)="removeRobot(robot)">Si</button>
      <button (click)="cancelRemoveRobot(robot)">No</button>
    </div>
    <button (click)="gotoRobotGet(robot)">consultar robot</button>
    <button (click)="gotoUnityGet(robot)">veure unitats de coneixement</button>
  </div>
</div>

<button (click)="goBack()">Back</button>
