.ull {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 10px solid #21618C;
  border-radius: 50px;
}
.pupila {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: orangered;
  border-radius: 15px;
}
.boca {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 170px;
  border: 10px solid #21618C;
  border-radius: 50px;
}
.dent {
  fill:rgb(255,255,255);
  stroke-width:1px;
  stroke:rgb(33,97,140);
}
.dent:hover {
  fill:rgb(255,69,0);
}
.pensament1 {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid orangered;
  border-radius: 15px;
}
.pensament1:hover {
  background-color: orangered; 
}
.pensament2 {
  margin-top: 70px;
  width: 30px;
  height: 30px;
  border: 1px solid orangered;
  border-radius: 15px;
}
.pensament2:hover {
  background-color: orangered; 
}
.pensament3 {
  margin-top: 110px;
  width: 30px;
  height: 30px;
  border: 1px solid orangered;
  border-radius: 15px;
}
.pensament3:hover {
  background-color: orangered; 
}