<div (onmousemove)="onMousemove($event)">
  <div class="row">
    <div class="col-xs-12">
      <div align="center">
        
        <div class="row">
          <div class="col-xs-12">
            <h1><span class="title1">myy</span><span class="title2">me</span></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div id="augeLinks" class="auge">
              <div id="pupilleLinks" class="pupille"></div>
            </div>
            <div id="augeLinks2" class="auge">
              <div id="pupilleLinks2" class="pupille"></div>
            </div>
          </div>
        </div>

        <div align="center" class="row">

          <div class="col-xs-3">

          </div>

          <div class="col-xs-1">
            <img src="assets/orella2.jpg"/>
          </div>

          <div class="div col-xs-4">
            <p>Hola!</p>
            <p>Sóc el que tu vulguis que sigui!</p>
            <p>Estic fet amb la nova tecnologia d'aprenentatge amb <b>inteligència artificial</b> <i>howdyl versió 1.0.0</i>.</p>
            <button>Crea'm i invita'm a la teva vida!</button>
          </div>

          <div class="col-xs-1">
            <img src="assets/orella.jpg"/>
          </div>

          <div class="col-xs-3">

          </div>

        </div>

        <div align="right">
          <p class="copyright"><b>Copyright</b> © 2017 <a href="http://davidmartinezros.com" target="_blank">davidmartinezros.com</a></p>
        </div>
        Llegir text amb veu amb google -> el pedro sabia què usava la veu (google algo).
        Fer funcionar ulls movent amb el mouse -> moure els ulls per tota la pantalla i treure els salts en els moviments.
      </div>
    </div>
  </div>
</div>