<div class="row div">
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-11">
                <h1><span class="title1">myy</span><span class="title2">me</span></h1>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-1">
                <div class="pensament1"></div>
            </div>
            <div class="col-xs-1">
                <div class="pensament2"></div>
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-1">
                <div class="pensament3"></div>
            </div>
        </div>
    </div>
    
    <div align="center" class="col-xs-4">
        <div class="row">
            <div class="col-xs-12" style="height:220px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="../assets/0-header2.png" width="400"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-top:20px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="ullLinks" class="ull">
                    <div id="pupilaLinks" class="pupila"></div>
                </div>
                <div id="ullLinks2" class="ull">
                    <div id="pupilaLinks2" class="pupila"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="boca" class="boca">
                    <svg>
                        <rect x="50" y="0" width="50" height="50" class="dent"/>
                        <rect x="100" y="0" width="50" height="50" class="dent"/>
                        <rect x="150" y="0" width="50" height="50" class="dent"/>
                        <rect x="0" y="50" width="50" height="50" class="dent"/>
                        <rect x="50" y="50" width="50" height="50" class="dent"/>
                        <rect x="100" y="50" width="50" height="50" class="dent"/>
                        <rect x="150" y="50" width="50" height="50" class="dent"/>
                        <rect x="200" y="50" width="50" height="50" class="dent"/>
                        <rect x="50" y="100" width="50" height="50" class="dent"/>
                        <rect x="100" y="100" width="50" height="50" class="dent"/>
                        <rect x="150" y="100" width="50" height="50" class="dent"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="height:50px">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>
    
<div class="row">
    <div class="col-xs-12">
        <div align="right">
            <p class="copyright"><b>Copyright</b> © 2017 <a href="http://davidmartinezros.com" target="_blank">davidmartinezros.com</a></p>
        </div>
    </div>
</div>