<div align="center">
    <div class="row">
        <div class="col-xs-12">
            <h1><span class="title1">myy</span><span class="title2">me</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="ullLinks" class="ull">
              <div id="pupilaLinks" class="pupila"></div>
            </div>
            <div id="ullLinks2" class="ull">
              <div id="pupilaLinks2" class="pupila"></div>
            </div>
        </div>
    </div>
    <div class="div row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div align="right">
      <p class="copyright"><b>Copyright</b> © 2017 <a href="http://davidmartinezros.com" target="_blank">davidmartinezros.com</a></p>
    </div>
    <!--
      Llegir text amb veu amb google -> el pedro sabia què usava la veu (google algo).
      Fer funcionar ulls movent amb el mouse -> moure els ulls per tota la pantalla i treure els salts en els moviments.
      -->
</div>