<div *ngIf="modelRobot && modelUnity">
  <div>Creació de Tag de la Unitat de coneixement {{modelUnity.concept}} del Robot {{modelRobot.name}}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Tag</label>
        <input type="text" class="form-control" id="tag" [(ngModel)]="tag" name="tag" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <div *ngIf="modelRobot" class="div">
      <div>Id: {{modelRobot.id}}</div>
      <div>Nom: {{modelRobot.name}}</div>
      <div>Edat: {{modelRobot.age}}</div>
      <div>Professió: {{modelRobot.profession}}</div>
      <div>Descripció: {{modelRobot.description}}</div>
    </div>

    <div *ngIf="modelUnity" class="div">
      <div>{{modelUnity.id}}</div>
      <div>{{modelUnity.concept}}</div>
      <div>{{modelUnity.image}}</div>
      <div>{{modelUnity.description}}</div>
    </div>

  </div>
</div>

<button class="btn btn-alert" (click)="goBack()">Back</button>