<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-10">
        <div class="capcalera">UNITATS</div>
      </div>
      <div class="col-xs-2 text-right">
        <button *ngIf="unitiesFirstLevel" (click)="gotoCreateUnity()">+</button>
        <button *ngIf="!unitiesFirstLevel" (click)="gotoCreateUnityRelation(modelUnity)">+</button>
      </div>
    </div>

    <div *ngIf="modelUnities.length == 0" class="row">
      <div class="col-xs-12">
        <div class="div">No n'hi ha</div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-xs-12">
        <div *ngFor="let unity of modelUnities" class="div">

          <div class="row">
            <div class="col-xs-10">
          
              <div>Id: {{unity.id}}</div>
              <div>Concepte: {{unity.concept}}</div>
              <div>Imatge: {{unity.image}}</div>
              <div>Descripció: {{unity.description}}</div>
            </div>

            <div class="col-xs-2 text-right">
              <button (click)="confirmRemoveUnity(unity)">x</button>
            </div>

            <div class="col-xs-12">
              <div *ngIf="unity.confirmUnity" class="div">
                <div>Desitja esborrar la unitat de coneixement {{unity.concept}}?</div>
                <button (click)="removeUnity(unity)">Si</button>
                <button (click)="cancelRemoveUnity(unity)">No</button>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-10">
              <div class="capcalera">TAGS</div>
            </div>
            <div class="col-xs-2 text-right">
              <button (click)="gotoCreateTag(unity)">+</button>
            </div>
          </div>

          <div *ngIf="unity.tags.length > 0">
            <div class="row">
              <div class="col-xs-12">
                <div *ngFor="let tag of unity.tags">
                  <div class="row">
                    <div class="col-xs-10">
                      <div class="div">{{tag.id}}:{{tag.tag}}</div>
                    </div>
                  </div>

                  <div class="col-xs-2 text-right">
                    <button (click)="confirmRemoveTag(tag)">x</button>
                  </div>

                  <div class="col-xs-12">
                    <div *ngIf="tag.confirmTag" class="div">
                      <div>Desitja esborrar el tag {{tag.tag}}?</div>
                      <button (click)="removeTag(unity, tag)">Si</button>
                      <button (click)="cancelRemoveTag(tag)">No</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="unity.tags.length == 0">
            <div class="row">
              <div class="col-xs-12">
                  <div class="div">No n'hi ha</div>
              </div>
            </div>
          </div>

          <app-print-unities [modelRobot]="modelRobot" [modelUnity]="unity" [unitiesFirstLevel]="false"></app-print-unities>
          
        </div>
      </div>
    </div>
  </div>
</div>