<div class="capcalera">
  <div>UNITATS</div>
  <button (click)="gotoCreateUnity()">Afegir Unitat</button>


  <div *ngIf="modelUnities.length == 0" class="div">
    <div>No n'hi ha</div>
  </div>

  <div *ngFor="let unity of modelUnities" class="div">
    <div>Id: {{unity.id}}</div>
    <div>Concepte: {{unity.concept}}</div>
    <div>Imatge: {{unity.image}}</div>
    <div>Descripció: {{unity.description}}</div>

    <button (click)="confirmRemoveUnity(unity)">esborrar</button>
    <div *ngIf="unity.confirmUnity" class="div">
      <div>Desitja esborrar la unitat de coneixement {{unity.concept}}?</div>
      <button (click)="removeUnity(unity)">Si</button>
      <button (click)="cancelRemoveUnity(unity)">No</button>
    </div>
    
    <div class="capcalera">
      <div>TAGS</div>
      <button (click)="gotoCreateTag(unity)">Afegir Tag</button>

      <div *ngIf="unity.tags.length > 0">
        <div *ngFor="let tag of unity.tags" class="div">
          <div>{{tag}}</div>
        </div>
      </div>

      <div *ngIf="unity.tags.length == 0" class="div">
          <div>No n'hi ha</div>
      </div>

      <app-print-unities [modelRobot]="modelRobot" [modelUnities]="unity.unities"></app-print-unities>

    </div>

  </div>

</div>