* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 800%;
}
/* Imagen utilizada por defecto, la que se utlizará en pantallas pequeñas */
body {
  background-color: white;
	margin: 0px;
  padding-top: 15px;
	padding-left: 15px;
  padding-right: 15px;
}
.div {
  padding: 10px;
  margin: 1px;
  border-radius: 4px;
  color: #21618C;
  background-color: #fff;
  border: 1px solid #21618C;
}
.div {
  opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.div:hover, .div:active {
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* Imagen utilizada en pantallas de anchura 480 px y superior */
@media only screen and (max-width: 768px) and (orientation:landscape) {
	 .div {
        opacity: 1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
}
@media only screen and (max-width: 768px) and (orientation:portrait) {
	 .div {
        opacity: 1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }	
}
button {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  background-color: orangered;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: red;
  border: 1px solid orangered;
}
a:link, a:visited {
  font-weight: bold;
  color: orangered;
  text-decoration: none;
  font-size: 130%;
}
a:hover, a:active {
  color: red;
  text-decoration: underline;
}
.title1 {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  background-color:orangered;
  border: 1px solid red;
  color: white;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.title1:hover {
  background-color:white;
  border: 1px solid red;
  color: orangered;
}
.title2 {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  background-color:white;
  border: 1px solid red;
  color: orangered;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.title2:hover {
  background-color:orangered;
  border: 1px solid red;
  color: white;
}
.copyright {
    color: grey;
    font-size: small;
}
nav a:link, nav a:visited {
	font-weight: normal;
  font-size: 100%;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: orangered;
  color: white;
	border: 1px solid red;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
nav a:hover, nav a:active {
  background-color: red;
  border: 1px solid orangered;
}
.capcalera {
	border-radius: 4px;
  background-color:#BBD8DC;
	border: 1px solid #21618C;
	color: #21618C;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
ul li {
    list-style-type: circle;
}